Include
Lib
Scripts
share

# no environmen files
*.env
pyvenv.cfg

# ignore evaluation metric files, as these are generated
evaluation_metrics.csv
evaluation_metrics_cross.csv

# ignore plots_*.png files, as these are generated
plots_*.png

# ignore experiment folder
experiments/

For Friday.txt
fake_data_plots/
storms_plots/
